<p>User name is <b>{{name}}</b> and <b>{{gender == 'male' ? 'he' : 'she'}} is {{status}}</b></p>


<h2>You type :<span>{{ inputValue || clickValue }}</span></h2>

<input type="text" [value]="inputValue" (input)="onInput($event)">
<br>
<br>
<button href="" class="btn" [disabled]="isDisabled" (click)="onClick($event)">Click me</button>


<!-- <ol>
  @for(user of users;track user.name; let i = $index) {
    <li> User <b>{{i + 1}}</b> name is <b>{{user.name}}</b> and gender is <b>{{user.gender}}</b></li>
  }
</ol> -->
<ol>
  <li *ngFor="let user of users; let i = index"> User <b>{{i + 1}}</b> name is <b>{{user.name}}</b> and gender is <b>{{user.gender}}</b></li>
</ol>