<!-- <h4>{{name.toUpperCase() + ' is '+ status}}</h4>

<button [disabled]="isBtnDisabled">Click Me</button>

<h2>input value - <span style="color: red">{{inputVal}}</span></h2>

<input type="text" [(ngModel)]="inputVal">

<ol>
  @for(user of users;track user.name) {
  @if(user.salary > 15000){

  <li>Name: {{user.name}}, Status: {{user.isSingle ? "Single" : "Married"}}, Salary: {{user.salary}}</li>
  }@else {

  <li>Name: {{user.name}}, Status: {{user.isSingle ? "Single" : "Married"}}, Salary: hidden</li>
  }
  }
</ol>

<ol>
  <li *ngFor="let user of users;">
    <ng-container *ngIf="user.salary > 25000; else elseIfCondition">
      Name: {{ user.name }}, Status: {{ user.isSingle ? 'Single' : 'Married' }}, Salary: 25000+
    </ng-container>

    <ng-template #elseIfCondition>
      <ng-container *ngIf="user.salary > 15000; else hiddenSalary">
        Name: {{ user.name }}, Status: {{ user.isSingle ? 'Single' : 'Married' }}, Salary: 15000+
      </ng-container>
    </ng-template>


    <ng-template #hiddenSalary>
      Name: {{ user.name }}, Status: {{ user.isSingle ? 'Single' : 'Married' }}, Salary: hidden
    </ng-template>
  </li>
</ol>


<ol>
  <li *ngFor="let user of users">Name: {{user.name}}, Status: {{user.isSingle ? "Single" : "Married"}}, Salary:
    {{user.salary > 15000 ? user.salary : 'hidden' }}</li>
</ol>


<h1>{{name}} - hidden {{isHidden}} - pin {{pin}}</h1> -->